@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Tajawal&display=swap");
:root {
  --clr-primary: rgb(0, 78, 131);
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}
* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #37474f;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
  font-family: "El Messiri", sans-serif;
  justify-content: center;
  align-items: baseline;
}

.person {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  margin: 0.5rem;
}
.banner-img {
  position: absolute;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg");
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 20rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1.1rem 1rem;
  font-size: 1.2rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
}
