.l-header {
  width: 100%;

  top: 0;
  left: 0;
  z-index: 100;
  background-color: #1d2521;
}

.nav {
  max-width: 1024px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #1d2521;
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0rem 0rem 1rem 1rem;
    z-index: 100;
  }
  .nav {
    height: 5rem;
  }
}

.nav__item {
  margin-bottom: 1rem;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: #c7d1cc;
  font-weight: 500;
  font-size: 2rem;
}

.nav__logo:hover {
  color: #069c54;
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: #069c54;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
}

.close {
  position: absolute;
  right: 5%;
  font-size: 2rem;
  top: 5%;
}
/* Show menu */
.show-menu {
  top: 0;
}

.active-link {
  color: #069c54;
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: 5rem;
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: 1rem;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
    height: 15vh;
  }
}

/* --------------------------------- */
.parallax-container {
  margin: 0;
  background-color: aliceblue;

  height: 100vh;
  width: 100%;
}

.parallax {
  background-image: url("/src/assets/image.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
}
h1 {
  margin: 0;
}
