.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: brightness(60%);
  display: grid;
  place-items: center;
  transition: 0.5s all;
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: #fff;
  border-radius: 0.25rem;
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  cursor: pointer;
}
