@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
* {
  box-sizing: border-box;
}
html {
  height: -webkit-fill-available;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lalezar", cursive;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
